/*book-list*/
.book-list{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.book__card{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 140px;
}

.book__image{
    width: 140px;
    height: 224px;
}

.book__image img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.book__title{
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 10px 0 0 0;
}

.book__author{
    color: #7070bc;
}

.book-detail__author a{
    color: #fad55e;
}

.book-detail__description{
    word-break: break-all;
    margin: 0 0 0 20px;
}
/*author*/
.about-the-author{
    display: block !important;
}
/*block-detail*/
.block-detail{
    display: flex;
    gap: 25px;
}

.block-detail__body{
    width: 70%;
}

.block-detail__img{
    width: 180px !important;
    height: 280px;
}

.block-detail__info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 15px 0 0 0 !important;
}

.block-detail__info li{
   display: flex;
   align-items: center;
}

.block-detail__info span{
    display: block;
    width: 106px !important;
}

.borrowed__btn{
    display: inline-block;
    border-radius: 8px;
    border: 1.5px solid #605DFF;
    padding: 5px;
    font-weight: 600;
    color: #605DFF;
}
/*page-main*/
/*main*/
.main{
    width: 100%;
    background: linear-gradient(177.06deg, #FAD55E -24.15%, rgba(250, 213, 94, 0) 107.17%);
    padding: 30px 0;
}

.main__body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__title{
    width: 45%;
}

.main__title span{
    color: #605dff;
}
/*dignity*/
.dignity{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 50px 0;
}

.dignity-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.dignity-item__image i{
    font-size: 55px;
    color: #FAD55E;
}

.dignity-item__title{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
/*recommend*/
.recommend{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(177.06deg, #605DFF -24.15%, rgba(96, 93, 255, 0) 107.17%);
    padding: 50px 0;
}

.recommen__title{
    text-align: center;
}

.recommen__title span{
    color: #FAD55E;
}

.recommend__books{
    display: flex;
    gap: 30px;
    margin: 30px 0 0 0;
}

.recommend-book__img{
    width: 200px !important;
    height: 300px;
}

/*profile*/
.account{
    display: flex;
    justify-content: space-between;
}

.profile{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-header{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    font-weight: 600;
}

.profile__image{
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.profile__image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile__status{
    color: #605DFF;
}

.profile__info{
    font-size: 16px;
    font-weight: 500;
}

.profile__info li{
    display: flex;
    gap: 10px;
}

.profile__dictation{
    margin: 15px 0 0 0;
}