@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
/*null scss*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul, li {

  margin: 0;
  padding: 0;

}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #292968;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
  ul[class],
  ol[class] {
    list-style: none;
}
  li{
      list-style-type: none;
  }
  a{
      text-decoration: none;
  }
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  img {
    max-width: 100%;
    display: block;
  }
  article > * + * {
    margin-top: 1em;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}
/**/
.__container{
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.dn{
  width: 0px !important;
  height: 0px !important;
  display: none !important;
}

.logo{
  font-size: 40px;
  font-weight: 600;
  color: #fad55e;
  text-align: center;
  line-height: 30px;
}

.logo span{
  color: #605dff;
}

.title{
  font-size: 50px;
  font-weight:700;
  line-height: 60px;
  color: #292968;
}

.subtitle{
  font-size: 16px;
  font-weight: 600;
  color: #7975ff;
}

.btn{
  display: inline-block !important;
  height: 38px;
  color: #fff !important;
  border-radius: 20px !important;
  border: none;
  font-weight: 600;
  cursor: pointer;
  padding: 8px 16px;
}

.editing_btn{
  background: #FAD55E;
}

.delete_btn{
  background: #FF5D5D;
}

.default_btn{
  background: #605dff !important;
}

.text-danger{
  font-weight: 600;
  color: #FAB246;
}

.text-success{
  font-weight: 600;
  color: #5EFA5E;
}

.text-warning{
  font-weight: 600;
  color: #FF5D5D;
}

.menu-controll{
  display: flex;
  gap: 15px;
  margin: 50px 0 0 0;
}
/*pagination*/
.pagination{
  display: flex;
  justify-content: center;
}

.page-links{
  display: flex;
  gap: 10px;
}

.page-num{
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  pointer-events: none;
  user-select: none;
}

.page-current{
  color: #fad55e;
  
}

.page-max{
  color: #605dff;
}
/*header*/
.header{
  width: 100%;
}

.header-body{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header__menu{
  display: flex;
  gap: 20px;
  font-size: 16px;
  font-weight: 500;
}

.header__menu a{
  font-size: 16px;
  font-weight: 600;
}

.header__login a{
  color: #605dff;
}
/*footer*/
.footer{
  margin-top: auto;
  padding: 50px 0;
}

.footer__body{
  display: flex;
}

.footer__logo{
  display: flex;
  justify-content: start;
  width: 30%;
}

.footer-info{
  display: flex;
  gap: 30px;
}

.footer-list li:first-child{
  color: #605dff;
  font-size: 16px;
  font-weight: 600;
}

.footer-list a{
  display: flex;
  align-items: center;
  gap: 5px;
}

