<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/812392499f.js" crossorigin="anonymous" defer></script>
  <!-- Добавление дополнительного статического CSS файла -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
</head>

<body>
    {% block header %}
    <header class="header">
      <div class="__container">
        <div class="header-body">
          <div class="header__logo logo">Book<span>Hive</span></div>
          <ul class="header__menu">
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'books' %}">Все книги</a></li>
            <li><a href="{% url 'authors' %}">Все авторы</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}"><i class="fa-regular fa-user" style="color: #fad55e;"></i> {{ user.get_username }}</a></li>
                <li class="header__login"><a href="{% url 'logout'%}?next={{request.path}}"><i class="fa-solid fa-arrow-right-to-bracket" style="color: #fad55e;"></i></i> Выйти</a></li>
            {% else %}
                <li class="header__login"><a href="{% url 'login'%}?next={{request.path}}"><i class="fa-solid fa-arrow-right-to-bracket" style="color: #fad55e;"></i></i> Войти</a></li>
            {% endif %}
            
          </ul>
        </div>
      </div>
    </header> 
    {% endblock %}


      <section class="page">
      {% block content %}{% endblock %}

        {% block pagination %}
          {% if is_paginated %}
              <div class="pagination">
                  <span class="page-links">
                      {% if page_obj.has_previous %}
                          <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                      {% endif %}
                      <span class="page-current">
                          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                      </span>
                      {% if page_obj.has_next %}
                          <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                      {% endif %}
                  </span>
              </div>
          {% endif %}
        {% endblock %}
      </section>

      <footer class="footer">
        <div class="__container">
          <div class="footer__body">
          <div class="footer__logo logo">
            Book<span>Hive</span>
          </div>
          <div class="footer-info">
            <ul class="footer-list fast-link">
              <li>Быстрые сылки</li>
              <li><a href=""><i class="fa-solid fa-caret-right" style="color: #fad55e;"></i>Главная</a></li>
              <li><a href=""><i class="fa-solid fa-caret-right" style="color: #fad55e;"></i>Все книги</a></li>
              <li><a href=""><i class="fa-solid fa-caret-right" style="color: #fad55e;"></i>Все авторы</a></li>
            </ul>
            <ul class="footer-list contacts">
              <li>Контакты</li>
              <li>Email: bookhive@mail.ru</li>
              <li>Телефон: 7 432 234 23 43</li>
            </ul>
          </div>
            
          </div>
        </div>
      </footer>


</body>
</html>