{% extends "base_generic.html" %}
{% block title %}<title>Главная страница</title>{% endblock %}
{% load static %}
{% block content %}
<section class="main">
  <div class="__container">
    <div class="main__body">
        <div class="main__title title">
          BookHive — берите на прокат <span>книги</span> Ваших любимых авторов
        </div>
        <div class="main__img">
            <img src="{% static 'img/main/book.svg' %}" alt="">
        </div>
    </div>
</section>

<section class="dignity __container">
    <div class="dignity-item">
      <div class="dignity-item__image">
        <i class="fa-solid fa-book"></i>
      </div>
      <div class="dignity-item__title">
         {{ num_books }} книги
      </div>
    </div>
    <div class="dignity-item">
      <div class="dignity-item__image">
        <i class="fa-solid fa-feather-pointed"></i>
      </div>
      <div class="dignity-item__title">
        Более {{ num_genres }} <br> жанров
      </div>
    </div>
    <div class="dignity-item">
      <div class="dignity-item__image">
        <i class="fa-solid fa-user-pen"></i>
      </div>
      <div class="dignity-item__title">
        {{ num_authors }} автор
      </div>
    </div>
    <div class="dignity-item">
      <div class="dignity-item__image">
        <i class="fa-solid fa-wifi"></i>
      </div>
      <div class="dignity-item__title">
         Онлайн <br> и офлайн
      </div>
    </div>
    <div class="dignity-item">
      <div class="dignity-item__image">
        <i class="fa-solid fa-puzzle-piece"></i>
      </div>
      <div class="dignity-item__title">
        Подборки <br>
        И рекомендации
      </div>
    </div>
</section>

<section class="recommend">
  <div class="recommend__body __container">
      <div class="recommen__title title">
        Рекомендованные <br>
         <span>книги</span> 
      </div>
      <div class="recommend__books">
        <div class="recommend-book">
          <div class="recommend-book__img book__image">
            <img src="{% static 'img/default.jpg' %}" alt="">
          </div>
          <div class="book__title">Название книги</div>
          <div class="book__author">Имя автора</div>
        </div>
        <div class="recommend-book">
          <div class="recommend-book__img book__image">
            <img src="{% static 'img/default.jpg' %}" alt="">
          </div>
          <div class="book__title">Название книги</div>
          <div class="book__author">Имя автора</div>
        </div>
        <div class="recommend-book">
          <div class="recommend-book__img book__image">
            <img src="{% static 'img/default.jpg' %}" alt="">
          </div>
          <div class="book__title">Название книги</div>
          <div class="book__author">Имя автора</div>
        </div>
        <div class="recommend-book">
          <div class="recommend-book__img book__image">
            <img src="{% static 'img/default.jpg' %}" alt="">
          </div>
          <div class="book__title">Название книги</div>
          <div class="book__author">Имя автора</div>
        </div>
        <div class="recommend-book">
          <div class="recommend-book__img book__image">
            <img src="{% static 'img/default.jpg' %}" alt="">
          </div>
          <div class="book__title">Название книги</div>
          <div class="book__author">Имя автора</div>
        </div>
      </div>
  </div>
</section>



{% endblock %}