{% extends "base_generic.html" %}
{% block title %}<title>Главная страница</title>{% endblock %}
{% load static %}

{% block content %}
<section class="main">
  <div class="__container">
    <div class="main__body">
        <div class="main__title title">
          BookHive — берите на прокат <span>книги</span> Ваших любимых авторов
        </div>
        <div class="main__img">
            <img src="{% static 'img/main/book.svg' %}" alt="">
        </div>
    </div>
</section>

<section class="dignity __container">
    <div class="dignity-item">
      <div class="dignity-item__image">
        <i class="fa-solid fa-book"></i>
      </div>
      <div class="dignity-item__title">
         {{ num_books }} {{ num_books|pluralize:"книги,книг" }} 
      </div>
    </div>
    <div class="dignity-item">
      <div class="dignity-item__image">
        <i class="fa-solid fa-feather-pointed"></i>
      </div>
      <div class="dignity-item__title">
        Более {{ num_genres }} {{ num_genres|pluralize:"жанра,жанров" }} 
      </div>
    </div>
    <div class="dignity-item">
      <div class="dignity-item__image">
        <i class="fa-solid fa-user-pen"></i>
      </div>
      <div class="dignity-item__title">
        {{ num_authors }} {{ num_authors|pluralize:"автора,авторов" }} 
      </div>
    </div>
    <div class="dignity-item">
      <div class="dignity-item__image">
        <i class="fa-solid fa-wifi"></i>
      </div>
      <div class="dignity-item__title">
         Онлайн <br> и офлайн
      </div>
    </div>
    <div class="dignity-item">
      <div class="dignity-item__image">
        <i class="fa-solid fa-puzzle-piece"></i>
      </div>
      <div class="dignity-item__title">
        Подборки <br>
        И рекомендации
      </div>
    </div>
</section>

<section class="recommend">
  <div class="recommend__body __container">
      <div class="recommen__title title">
        Рекомендованные <br>
         <span>книги</span> 
      </div>
      <div class="recommend__books">
        {% if book_list %}
          {% for book in book_list %}
          <div class="recommend-book">
            <div class="recommend-book__img book__image">
             <a href="{{ book.get_absolute_url }}"><img src="{{ book.image.url }}" alt="book_image"></a>
            </div>
            <div class="book__title">{{ book.title }}</div>
            <div class="book__author">{{ book.author }}</div>
          </div>
          {% endfor %}
        {% else %}
          <p>В библиотеке нет книг</p>
        {% endif %}
      </div>
  </div>
</section>



{% endblock %}