{% extends "base_generic.html" %}

{% block content %}
    {% if book_list %}
      <div class="book-list __container">
        {% for book in book_list %}
        <div class="book__card">
            <div class="book__image"><a href="{{ book.get_absolute_url }}"><img src="{{ book.image.url }}" alt="book_image"></a></div>
            <p class="book__title">{{ book.title }}</p>
            <a class="book__author" href="">
              {{ book.author }}
            </a>
        </div>
        {% endfor %}
      </div>
    {% else %}
      <p>В библиотеке нет книг</p>
    {% endif %}
{% endblock %}