{% extends "base_generic.html" %}
{% load static %}
{% block content %}
    <div class="account __container">
      <div class="profile">
          <h2>Профиль</h1>
            <div class="profile-header">
              <div class="profile__image">
                <img src="{% static 'img/default.jpg' %}" alt="">
              </div>
              <div class="profile-header__info">

                {% if is_librarian  %}
                  <p class="profile__status" style="color: #FAD55E;">библиотекарь</p>
                {% else %}
                  <p class="profile__status">пользователь</p>
                {% endif %}
                
                <p class="profile__name">{{ user.get_username }}</p>
              </div>
            </div>
            <ul class="profile__info">
                <li>Дата рождения: <span class="date-of-birth"></span></li>
                <li>Email: <span class="email">1312321@gmail.com</span></li>
            </ul>
            <div class="profile__dictation">
              <a class=" btn" href="#">Редактировать</a>
            </div>
        
      </div>

      {% if is_librarian  %}
        <div class="">
          <h2>Спец. Возможности</h1>
            <ul>
              <li><a href="{% url 'author_create' %}">Создать автора</a></li>
              <li><a href="{% url 'book_create' %}">Создать книгу</a></li>
            </ul>
        </div>
      {% endif %}

      <div class="">
        <h2>Забронированные книги</h1>
          {% if bookinstance_list %}
          <ul>
      
            {% for bookinst in bookinstance_list %}
            {% if is_librarian  %}
                <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
                  <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }}) - {{ bookinst.borrower }} - <a href="{% url 'renew-book-librarian' bookinst.id %}">Продлить</a> 
            {% else %}
                <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
                  <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }})
                </li>
            {% endif %}
            {% endfor %}
          </ul>
      </div>
      
    </div>
    

    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}
{% endblock %}